alias f=fuck
alias ga='git number add'
alias git='noglob git' # git rarely need globs, but uses weird characters, like ^, so this avoids need of quoting
alias gn='git number --column' # note that command line completion does not work well for this alias
alias l='ls -F '
alias more=less
alias rm="echo Replace '\"rm\"' with '\"trash\"', or force the original with '\"\\\rm\"': trash "
alias zmv='noglob zmv'
