# from oh-my-zsh
alias ...='cd ../..'
alias ....='cd ../../..'
alias d='dirs -v | head -10'

#personal
alias cliplast='fc -ln|tail -1|pbcopy'
alias cp='cp -v'
alias cr='/Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome --remote-debugging-port=9222'
alias dkill='docker stop $(docker ps -a -q)'
alias drm='docker rm $(docker ps -a -q)'
alias drma='docker system prune -a --volumes # dkill; drm; drmi; drmv'
alias drmi='docker rmi -f $(docker images -q); docker rmi -f $(docker images -f "dangling=true" -q)'
alias egrep='egrep --color=auto'
alias g='noglob git'
alias ga='git number add'
alias generate_password='LC_ALL=C tr -dc "[:alnum:]" < /dev/urandom | head -c 20 | pbcopy  '
alias glances='glances --process-short-name'
alias gn='git number --column' # note that command line completion does not work well for this alias
alias grep='grep --color=auto'
alias l='ls -F '
alias la='ls -AF '
alias ll='ls -lF '
alias more=less
alias mv='mv -v'
alias prev='open -a Preview'
alias ql='qlmanage -p 2>/dev/null'
alias resolution='system_profiler SPDisplaysDataType | grep Resolution'
alias rm_node_modules='$FD -t d -u node_modules -x rm -rf'
alias rm="echo Replace '\"rm\"' with '\"trash\"', or force the original with '\"\\\rm\"': trash "
alias tig='TERM=xterm-256color tig'
alias weather='curl v2.wttr.in'
alias y='noglob yadm'
alias yc='GIT_DIR=~/.local/share/yadm/repo.git code ~/.config/yadm'
alias yl='lazygit --use-config-file ~/.config/yadm/lazygit.yaml --work-tree ~ --git-dir ~/.local/share/yadm/repo.git'
alias zmv='noglob zmv'

# suffix aliases for file types: these become "executable"
alias -s {avdl,c,coffee,css,el,gql,gradle,graphql,h,handlebars,hpp,html,http,java,js,json,json5,jsx,lock,log,md,py,rb,scss,swift,text,ts,tsx,txt,xml,yaml,yml,yo}=code
