[user]
	name = Klas Mellbourn
	signingkey = 9421003411C7A828
[include]
    path = .gitconfig.user.foss
[includeIf "gitdir:~/code/klarna/"]
    path = .gitconfig.user
[includeIf "gitdir:~/code/klarna/ui/"]
    path = .gitconfig.user.foss
[includeIf "gitdir:~/code/klarna/bubble-ui/"]
    path = .gitconfig.user.foss
# redundant, but don't forget this repo
[includeIf "gitdir:~/.yadm/"]
    path = .gitconfig.user.foss
[core]
	excludesfile = ~/.gitignore_global
[commit]
	gpgsign = true
[mergetool]
	keepbackup = false
	prompt = false
    trustExitCode = true
[difftool]
    prompt = true
[diff]
    tool = vscode
[merge]
    tool = kdiff3
[alias]
	lol = log --graph --all
	lo = log --graph
	ci = commit -v
	br = branch
	co = checkout
	st = status
	mt = mergetool
	dt = difftool
	d = diff --color-words=.
	unstage = reset HEAD --
	last = log -1 HEAD
	unchange-assumed = !git ls-files -v | grep "^[[:lower:]]"
        cleanup = "!git branch --merged | grep  -v '\\*\\|master\\|develop' | xargs -n 1 git branch -d"
	cleanup-all = "!f(){\
        git branch | grep -v 'master' | grep -v ^* | sh -c 'while read br; \
		  do git log -1 $br; \
		  git branch -D $br >> /tmp/cleaned-branches.txt; \
		done' ;\
    }; f"
[fetch]
	prune = true
[log]
	decorate = short
	abbrevcommit = true
	date = relative
[rerere]
	enabled = true
[pull]
	rebase = true
[push]
	followTags = true
[rebase]
	autoStash = true
[format]
	pretty = %C(yellow)%h %C(magenta)%<(15,trunc)%an %C(cyan)%cd %C(auto)%d%Creset %s
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
[mergetool "vscode"]
    cmd = code --wait $MERGED
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
# diff for binary Apple property list files
[diff "plist"]
	textconv = plutil -convert xml1 -o -
[help]
	autocorrect = -1
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge --skip -- %f
	process = git-lfs filter-process --skip
	required = true
# settings for diff-so-fancy
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX -+W -+J
[color "diff-highlight"]
	oldNormal = red
	newNormal = green
	newHighlight = green 22
	oldHighlight = red 52
[color "diff"]
	meta = yellow
	frag = magenta
	commit = yellow
	old = red
	new = green
	whitespace = red reverse
[diff-so-fancy]
	useUnicodeRuler = false
	stripLeadingSymbols = false
[protocol]
	version = 2
[url "git@github.com:"]
	insteadOf = http://github.com/
	insteadOf = https://github.com/
